h1, p {
  font-family: Arial, Helvetica, sans-serif;
}

jumbotron h1, p {
  font-family: Arial, Helvetica, sans-serif;
}

.img-visual {
    width: 95%;
    height: auto;
  }
  
.spacer-bottom {
    padding-bottom: 25px;
  }

/* Zoom effect on visual figures */
.zoom {
    transition: transform .5s; /* Animation */
  }
  
.zoom:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}
  
.zoom .caption {
    display: none;
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 8%;
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
    text-align: center;
    font-weight: bold;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    -ms-transform: scale(0,1);
    transform: scale(0,1);
    color: black;
    font-size: 1.5em;
  }
  
.zoom:hover .caption {
    display: block;
    filter: alpha(opacity=50);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }   

* {
    box-sizing: border-box;
}
  
.bg-img {
    position: relative;
    height: auto;
    width: 100%;
    margin-bottom: 30px;
    padding: 50px;
    background: black;
    background-image: url("../image/classroom_bkg.jpg");
    background-attachment: fixed;
    background-position: bottom center;
    background-size: cover;
    
}

.bg-img h1 {
    margin-top: 50px;
    font-size: 0.1rem;
    color:#084B8A;
    animation: title 1.2s forwards linear;
}
  
.bg-img p {
    font-size: 2rem;
    color:#084B8A;
    opacity: 0;
    animation: subtitle 1.2s forwards linear;
    animation-delay: 1.2s;
}
  

  /* keyframe animations which will be used to animate the title */
@keyframes title {
  from {
    opacity: 0;
  }

  to {
    font-size: 4.5rem;
    opacity: 1;
  }
}

@keyframes smaller-title {
  from {
    opacity: 0;
  }

  to {
    font-size: 3rem;
    opacity: 1;
  }
}

@keyframes subtitle {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
