<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NC School Performance</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainstyle.css') }}">
</head>

<body>
    <div class="container">
        <!-- <div class="jumbotron" style="text-align: center; background-image: url("../image/classroom_bkg.jpg");">
            <h1>North Carolina Public Schools Performance 2014</h1>
            <p></p>
        </div> -->
      

        <div class="bg-img text-center">
            <h1>North Carolina Schools</h1>
            <p>Report Cards and Metadata</p>
        </div>

        <div class="row">

            <div class="col-xs-12 col-md-2 spacer-bottom"></div>
            <div class="col-xs-12 col-md-4 spacer-bottom">
                <div class="zoom"> 
                  <a href="/get_mrkdata"><img class="img-responsive img-visual" src="{{ url_for('static', filename='image/markers.png') }}" alt="Marker Map">
                  <div class="caption">
                    Marker Map
                  </div>
                  </a>
                </div>
            </div>
            
            <div class="col-xs-12 col-md-4 spacer-bottom">
                <div class="zoom"> 
                  <a href="/get_mapdata"><img class="img-responsive img-visual" src="{{ url_for('static', filename='image/scatter_plot.png') }}" alt="Heat Map">
                  <div class="caption">
                    Heat Map
                  </div>
                  </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-2 spacer-bottom"></div>

            <div class="col-xs-12 col-md-2 spacer-bottom"></div>
            <div class="col-xs-12 col-md-4 spacer-bottom">
              <div class="zoom"> 
                <a href="/get_grades_d3"><img class="img-responsive img-visual" src="{{ url_for('static', filename='image/scatter_plot.png') }}" alt="D3 Scatter Plot">
                <div class="caption">
                  D3 Scatter Plots
                </div>
                </a>
              </div>
            </div>
    
            <div class="col-xs-12 col-md-4 spacer-bottom">
              <div class="zoom"> 
                <a href="/get_filter"><img class="img-responsive img-visual" src="{{ url_for('static', filename='image/scatter_plot.png') }}" alt="Filter Table">
                <div class="caption">
                  Filter Table
                </div>
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-md-2 spacer-bottom"></div>
            
          </div> <!-- end row -->
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</body>

</html>
